<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536952839916-dgfh4m40sdokuesbpc1kmrb1k914taeq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536952839916-dgfh4m40sdokuesbpc1kmrb1k914taeq</string>
	<key>API_KEY</key>
	<string>AIzaSyBPstCyxSk-qdtbJMSsLwULFrmX0XIW_UQ</string>
	<key>GCM_SENDER_ID</key>
	<string>536952839916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseCrudApp</string>
	<key>PROJECT_ID</key>
	<string>test-12dbc</string>
	<key>STORAGE_BUCKET</key>
	<string>test-12dbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536952839916:ios:0f0d3f206a885c3af88fc9</string>
</dict>
</plist>